{% extends "layout.html" %}

{% block body %}
    <br>
    <h3>HAKKIMIZDA</h3>
    <hr>
        Herkese merhaba! Ben Fırat Üniversitesi Yazılım Mühendisliği 1.sınıf öğrencisiyim. 4 senedir siber güvenlik ve teknoloji ile ilgileniyorum.
        Bu blogu açmamın sebebi ise ülkemizde siber güvenliğe duyulan ilgiyi biraz olsun artırmak ve bu işle uğraşan insanları bir yerde
        toplayarak rahat fikir alış-verişi ve döküman bulma kolaylığı sağlamaktır.
        Bug Türkiye bloğumuzda Teknoloji ve Siber Güvenlik gündemine dair haberler, makaleler ve bu iş ile ilgilenen tecrübeli/tecrübesiz
        insanların konular hakkındaki fikirlerini bulabilirsiniz.
        Üye olarak bize destek olabilirsiniz...
        <br><br><br>
        <center><strong>Since 2019</strong></center>
    <hr>

   
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
            <center><strong>Designed By Mustafa Öztaş</strong></center>
{% endblock body %}