{% extends "layout.html" %}

    {% block body %}
        
        <div class="jumbotron text-center">

            <h3>Bug Türkiye Siber Güvenlik Ve Teknoloji Bloğuna Hoşgeldiniz..</h3>
            <p>Merhaba! Bug Türkiye bloğuna hoşgeldiniz.Bu blogda siber güvenlik ve teknoloji hakkında aradığınız her şeyi bulabilirsiniz.
            Bloğumuza üye olarak kendi fikirlerinizi,makalelerinizi paylaşarak bize ve insanlara fayda sağlayabilirsiniz.Sizi aramızda görmekten
            mutluluk duyuyoruz.Sağ üst köşedeki "üye ol" butonundan üye olarak maceramıza ortak olabilirsiniz.
            </p>
            <br>
            <center><strong>Sağlıklı Ve Bugsuz  Günler Dileriz...</strong></center>
        </div>


        <br><br><br><br><br><br><br><br><br><br><br><br>
        <center><strong>Designed By Mustafa Öztaş</strong></center>

    {% endblock body %}